body {
  font-family: 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.logo {
  margin: 20px 0;
  max-width: 200px;
}

.image {
  width: 100%;
}
.products {
  display: block;
  margin: 0rem 10rem;
}

.product {
  display: inline-block;
  padding: 10px;
  text-align: left;
  width: 18rem;
  border: none;
}

.product-card-heart {
  position: absolute;
  top: auto;
  right: 15px;
  width: 40px;
  height: 40px;
  opacity: 0.8;
}

.card-header {
  padding: 0.25rem;
}

.card-body {
  padding-left: 0.75rem;
}

.card-text {
  margin-bottom: 0.75rem;
}

.card-title {
  font-weight: 800;
}

.title {
  margin: 20px 0px;
  font-style: normal;
  font-weight: 6  00;
  letter-spacing: normal;
  font-size: 34px;
  line-height: 36px;
}

.add-button {
  background-color:#d50032;
  color: white;
}

.filter {
  margin: 2rem;
}